*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
header .logo-accent {
    color: #4D5AE5;
}
h1, h2, h3 {
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0;
}
h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
address {
    font-style: normal;
}

img {
    display: block;
}

section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-accent {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    width: 115px;
    height: 24px;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding: 24px;
    
}

.site-footer p {
    color: #f4f4fd;
    line-height: 1.5;
}
.site-footer .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #f4f4fd;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.site-footer .logo-accent {
    color: #4d5ae5;
}

.section-title {
    padding-bottom: 72px;
}

.hero {
    background-color: #2E2F42;
    padding: 120px 0;
    text-align: center;
    
}
.hero-title {
    color: #FFFFFF;
    font-family: "Roboto";
    max-width: 496px;
    margin: 0 auto 32px;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}

.team {
    text-align: center;
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 32px;
}


.team-name {
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
}

.team-position {
    text-align: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-title {
    color: #2E2F42;
    font-family: "Roboto";
    text-align: center;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    color: #2E2F42;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}
.portfolio-list p {
    color: #434455;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: calc(33.333% - 16px);
    text-align: center;
}

.portfolio-list p {
    border: none;
    padding: 8px 0;
}

.site-footer {
    background-color: #2E2F42;
    color: #f4f4fd;
    padding: 80px 0;
    text-align: start;
}
.page-nav {
    display: flex;
    gap: 40px;
}
.contact-nav {
    display: flex;
    gap: 24px;
}
.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active {
    color: #404BBF;
}

.contact-nav .link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
    color: #404BBF;
}